<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      <a href="#">大屏媒体信息管理</a>
    </li>
    <li class="active">媒体内容管理</li>
  </ul>
</div>

<div class="page-content" ng-app="myApp" ng-controller="myCtrl">
  <div class="page-header">
    <h1>
      媒体内容管理
      <small>
        <i class="icon-double-angle-right"></i>
        图文编辑
      </small>
    </h1>
  </div>
  <div class="row">
    <form class="form-horizontal" name="myForm" novalidate>
      <div class="col-md-12">
        <div class="row option-bar">
          <div class="col-xs-12">
            <a href="/mediaModule" class="btn btn-default"><i class="icon-reply"></i>返回</a>
            <button type="button" class="btn btn-purple" ng-click="onShowUploadImageDialog()"><i class="icon-picture"></i>上传图片</button>
            <button type="button" class="btn btn-pink" ng-click="onShowUploadAudioDialog()"><i class="icon-picture"></i>上传音频</button>
            <button type="button" class="btn btn-primary" ng-click="onSave()" ng-disabled="(myForm.mediaModuleTitle.$pristine && model.add) ||
                                                                                          (myForm.mediaModuleTitle.$dirty && myForm.mediaModuleTitle.$invalid) ||
                                                                                          model.mediaModuleImageList.length == 0">
              <i class="icon-save"></i>
              提交
            </button>
            <button type="button" class="btn btn-danger" ng-if="!model.add" ng-click="onDelete()"><i class="icon-trash"></i>删除</button>
          </div>
        </div>
        <div class="space-32"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
              <div class="col-sm-8">
                <input type="text" name="mediaModuleTitle" class="form-control" maxlength="15" ng-model="model.mediaModuleTitle" required>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">图片</label>
              <div class="col-sm-8">
                <div class="table-responsive">
                  <table id="data-list" class="table table-striped table-bordered table-hover no-margin-bottom">
                    <thead>
                    <tr>
                      <th class="center">预览</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="image in model.mediaModuleImageList">
                        <td class="center">
                          <img ng-src="\{{image.mediaDetailContent}}" style="width: 100%">
                          <p ng-bind="image.mediaDetailName" style="margin: 5px 0 0;"></p>
                        </td>
                        <td>
                          <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                            <a href="javascript:;" class="red" ng-click="onRemove($index)"><i class="icon-trash"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">音频</label>
              <div class="col-sm-8">
                <audio ng-src="\{{model.mediaModuleAudioUrl}}" controls="controls" style="width: 100%; margin-top: -15px">
                  您使用的浏览器不支持视频播放，请使用Chrome浏览器。' +
                </audio>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">文字</label>
              <div class="col-sm-8">
                <textarea name="mediaModuleMemo" class="form-control" maxlength="300" rows="11" ng-model="model.mediaModuleMemo"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="image-upload-modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">请上传16:9尺寸的图片（1920 × 1080）</h4>
              </div>
              <div class="alert alert-danger store-alert hidden">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span></span>
              </div>
              <div class="modal-body">
                <div id="file-upload-image" class="fileUploadContent"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="audio-upload-modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">请上传.mp3格式的音频</h4>
              </div>
              <div class="alert alert-danger store-alert hidden">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span></span>
              </div>
              <div class="modal-body">
                <div id="file-upload-audio" class="fileUploadContent"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>

      </div>
    </form>
  </div>
</div>

<input type="hidden" value="{{mediaModuleID}}" id="hidden_mediaModuleID">
<input type="hidden" value="{{bankCode}}" id="hidden_bankCode">
<input type="hidden" value="{{branchCode}}" id="hidden_branchCode">
<script src="/javascripts/view/mediaModuleDetail4Image.js"></script>